div(id="fb-root")
script(type="text/javascript")
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=240975905959231";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

div(class="fb-like", data-href="http://bigjeopardy.info", data-send="false", data-width="450", data-show-faces="true")
h1 Big Jeopardy

a(href="/flyer")
  img(class='thumbnail', src="images/flyer.png", alt='Big Jeopardy')

p The top three from Stanford's Quiz Bowl team battle
  |  it out with the best and brightest from Cal in a
  |  three-on-three Jeopardy-style game. Still not
  |  interested? Enter IBM's Jeopardy playing computer,
  |  Watson. In it's last action, Watson bested the holder
  |  of Jeopardy's longest winning streak, Ken Jennings,
  |  and all-time money winner, Brad Rutter. Stanford vs.
  |  Cal vs. Machine. Big Jeopardy.
p.date 7-8:30pm on Thursday, 11/17 in the GSB's CEMEX Auditorium.

p Earlier in the day we will
  |  have
  a(href="http://nlp.stanford.edu/~manning/") Chris Manning
  |  and
  a(href="http://ai.stanford.edu/~koller/") Daphne Koller
  |  and leading scholars
  |  from UC Berkeley weighing in on the
  |  future of artificial inteligence and natural language
  |  processing
p.date This panel will run 5:30-6:30pm on Thursday, 11/17 in 320-105 (Geocorner)