h1 Big Jeopardy
p The top three from Stanford's Quiz Bowl team battle
  |  it out with the best and brightest from Cal in a
  |  three-on-three Jeopardy-style game. Still not
  |  interested? Enter IBM's Jeopardy playing robot,
  |  Watson. In it's last action, Watson bested the holder
  |  of Jeopardy's longest winning streak, Ken Jennings,
  |  and all-time money winner, Brad Rutter. Stanford vs.
  |  Cal vs. Robot. Big Jeopardy.

p.date Thursday, 11/17 at 7pm
  |  in the GSB's CEMEX Auditorium.

a(href="/flyer")
  img(class='thumbnail', src="images/flyer.png", alt='Big Jeopardy')
