!!! 5
html(lang="en")
  head
    meta(name="author", content="font inspired by instant.io - Feross")

    // facebook tags
    meta(property="og:title",     content="Big Jeopardy")
    meta(property="og:type",      content="game")
    meta(property="og:url",       content="http://bigjeopardy.info")
    meta(property="og:image",     content="http://bigjeopardy.info/images/flyer.png")
    meta(property="og:site_name", content="Big Jeopardy")
    meta(property="fb:admins", content="629190832")

    title Big Jeopardy

    link(href="stylesheets/style.css", rel="stylesheet", type="text/css")

    // mmm analytics
    script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26881533-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body!= body
