!!! 5
html(lang="en")
  head
    meta(name="author", content="instant.io - Feross")

    title Big Jeopardy
    link(href="stylesheets/style.css", rel="stylesheet", type="text/css")

    // script(type='text/javascript')
  body!= body
